@media screen and (max-width:801px) {
  .weibo{
    width: 380px;
    padding:0.5rem 1rem 0.5rem 1rem;
  }
  .avatars{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 360px;
    justify-content: space-between;
  }
  .avatars ul{
    margin-top: 1rem;
    width: 360px;
    justify-content: space-between;
  }
  .writing textarea{
    width: 360px;
    align-self: center;
  }
  .avatars input {
    width: 280px;
  }
  .writing .post {
    display: flex;
    width: 360px;
    justify-content: space-between;
  }

}
